In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

   Father   Son
0    70.5  70.7
1    70.1  70.1
2    70.5  70.1
3    70.2  70.4
4    70.9  70.7

In [6]:
df['Father'].max()

75.799999999999997

In [8]:
df.iloc[0]

Father    70.5
Son       70.7
Name: 0, dtype: float64